.Carousel-item {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  background: var(--gradient-end);
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) 450ms;
  transform-origin: center left;
  position: relative;

  &:hover ~ .Carousel-item {
    transform: translateX(125px);
  }

  &:hover  .Carousel-item__details:hover {
    opacity: 1;
  }


  &__title {
    font-weight: bold;
  }

  &__title,
  &__subtitle {
    margin: 3px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &__details {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 6px;
    font-size: 12px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 450ms;
  }

  &__button {
    margin: 0 2px;
  }
}
