@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
  --gradient-start: #4F00BC;
  --gradient-end: #29ABE2;
  --main-text: #fff;
  --title-font: 'Quicksand', Helvetica;
  --body-font: 'Quicksand', Helvetica;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top right, var(--gradient-start), var(--gradient-end));
  color: white;
  font-family: var(--body-font);
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  font-weight: 500;
}

figure {
  margin: 0;
  padding: 0;
}